# --- Serveur ---
PORT=3047

# --- Base de donnees MySQL ---
DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASS=
DB_NAME=

# --- Auth ---
JWT_SECRET=change_me_en_production
JWT_EXPIRES_IN=7d

# --- CORS ---
FRONTEND_URL=http://localhost:3000
